<!DOCTYPE html>

<html>
  <head>
    
  </head>

  <body>
    {{>header}}
      <h1>This is index page</h1>

      <form>
        <input placeholder="dummy">
        <button>Search</button>
      </form>
     {{>footer}}

     <p id="message1"></p>
     <p id="message2"></p>

     <script src="/js/fetching.js"></script>
  </body>

</html>